<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="_globalsign-domain-verification" content="gQ5czoKjwTzrK1qpJubM83E0KIXxD6f5uGByP9-6U-" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Expires" CONTENT="0"> 
    <meta http-equiv="Cache-Control" CONTENT="no-cache"> 
    <meta http-equiv="Pragma" CONTENT="no-cache"> 
    <title>真宜签，让签署更有效</title>
    <meta name='apple-itunes-app' content='app-id=1237561078'>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/js/zepto.min.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?242203ec22694d0d63d9f750aa2bca10";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>
        
</head>
<body>
    <div class="wrap index_h5">
        <img src="/images/phone/banner.png" alt="">
        <div class="page1">
            <img class="circle-logo" src="/images/phone/logo_yuan.png" alt="">
            <img class="logo" src="/images/phone/logo.png" alt="">
            <a href="javascript:;" class="downLoad-btn" data-href="">下载</a>
            <div class="introduce info_one">
                <span><img src="/images/phone/icon1.png" alt=""></span>
                <h3>签署简单便捷</h3>
                <p>支持U key和移动端签署，支持单独签和多人会签多种应用场景</p>
            </div>
            <div class="introduce info_two">
                <span><img src="/images/phone/icon2.png" alt=""></span>
                <h3>合法合规</h3>
                <p>第三方在线合同平台，满足平等、公平的法律要求。支持获得《电子认证服务许可证》的CA证书，完全符合《电子签名法》相关规定</p>
            </div>
            <div class="introduce info_three">
                <span><img src="/images/phone/icon3.png" alt=""></span>
                <h3>安全稳定</h3>
                <p>通过ISO27001国际安全认证，金融级别的全面安全保障传输存储访问高强度加密。</p>
            </div>
            <div class="introduce info_four">
                <span><img src="/images/phone/icon4.png" alt=""></span>
                <h3>司法鉴定</h3>
                <p>联合第三方司法鉴定机构，证据实时保存，快速取证。</p>
            </div>
        </div>
        <div class="page2">
            <div class="media">
                <% if (bannerDate && bannerDate.type == 0) { %>  
                <a class="side_left" href="/detail/<%=bannerDate.newsId%>">
                    <img src="<%=bannerDate.link%>" alt="">
                    <p><%= bannerDate.title%></p>
                </a>  
                <% } %>  
                <% if (bannerDate && bannerDate.type == 1) {  %>  
                    <video controls="controls">
                        <source src="<%=bannerDate.link%>" type="video/mp4">
                    </video>
                <% } %>
            </div>
            <div class="news_list">
                <h3>资讯</h3>
                <ul>
                    <% recomendListData.forEach(function(item){%>
                        <li>
                            <a href="/detail/<%=item._id%>">
                                <p class="shengl"><%=item.title %></p>
                                <span><%= moment(item.createTime).format('YYYY-MM-DD'); %></span>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            </div>
            <div class="news_thumb clf">
                <ul class="clf">
                        <% recomendThumbData.forEach(function(item){%>
                            <li class="clf">
                                <a  href="/detail/<%=item._id%>">
                                    <span><img src="<%=hostLink+item.img%>" alt=""></span>
                                    <div class="txt_thumb">
                                        <p class="shengl"><%=item.title%></p>
                                        <span><%= moment(item.createTime).format('YYYY-MM-DD'); %></span>
                                    </div>
                                </a>
                            </li>
                        <% }) %>
                        
                </ul>
            </div>
            <div class="info_thumb clf">
                <ul class="clf">
                    <li>
                        <img src="/images/phone/Group.png" alt="">
                        <span><img src="/images/tu1.png" alt=""></span>
                        <div class="txt">
                            <p>销售合同</p>
                            <p>采购协议</p>
                            <p>订单信息</p>
                        </div>
                    </li>
                    <li>
                        <img src="/images/phone/Group.png" alt="">
                        <span><img src="/images/tu2.png" alt=""></span>
                        <div class="txt">
                            <p>旅游合同</p>
                            <p>保险单</p>
                            <p>劳动合同</p>
                            <p>网贷协议</p>
                        </div>
                    </li>
                    <li>
                        <img src="/images/phone/Group.png" alt="">
                        <span><img src="/images/tu3.png" alt=""></span>
                        <div class="txt">
                            <p>审批签名</p>
                            <p>财务盖章</p>
                            <p>请假申请</p>
                            <p>申请签名</p>
                        </div>
                    </li>
                    <li>
                        <img src="/images/phone/Group.png" alt="">
                        <span><img src="/images/tu4.png" alt=""></span>
                        <div class="txt">
                            <p>租赁协议</p>
                            <p>借据收据</p>
                            <p>个人协议</p>
                            <p>委托授权</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="page5">
            <p>现在，</p>
            <h4>文档传过来，<br>签署一下完成！</h4>
            <a href="javascript:;" class="downLoad-btn" data-href="" >下载</a>
        </div>
        <footer>Copyright © 2015 数安时代科技股份有限公司</footer>
    </div>
    
    <% if (isOpenApp == 1 && !isWx) { %>  
        <section class="model-alert" id="tip">
            <div class="model-content">
                <p>您在真宜签有一份文件需要签署,是否立即打开？</p>
                <div class="btn-box">                
                    <a href="javascript:;" id="openApp">打开</a>
                    <a href="javascript:;" id="cancel-btn">取消</a>
                </div>
            </div>
        </section> 
    <% } %> 
    <% if (isOpenApp == 1 && isWx) { %>  
    <section class="alert-tip">
        <% if (appState == 'android') { %> 
            <img src="/images/phone/android.png" alt="">
        <% } %> 
        <% if (appState == 'ios') { %> 
            <img src="/images/phone/ios.png" alt="">
        <% } %> 
    </section>
    <% } %> 
    <script>
        $(function(){                 
            if (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent)) {  //判断iPhone|iPad|iPod|iOS
                 $('.downLoad-btn').attr('data-href','https://itunes.apple.com/cn/app/%E7%9C%9F%E5%AE%9C%E7%AD%BE/id1237561078?mt=8')
            } 
            if(/(Android)/i.test(navigator.userAgent)) {   //判断Android
               $('.downLoad-btn').attr('data-href','http://a.app.qq.com/o/simple.jsp?pkgname=com.gdca.cloudsign')
            }

            $('.downLoad-btn').on('click',function(){
                var hrefLink = $(this).attr('data-href');
                window.location.href = hrefLink;
            })

             /*自动打开app*/
             var hrefUrl = window.location.href;
            if(hrefUrl.indexOf('/t') != -1){
                $("#tip").show();
                $(".model-alert").on("touchmove",function(event){
                    event.preventDefault;
                }, false)
            };
            $("#cancel-btn").on('click',function(){
                $('#tip').hide();
            })
            var AppUrl = {
                AndroidOpen: 'cloudsign://',
                iosOpen:'GDCASign://opensign',  //wechat://  GDCASign://opensign
                AndroidDown: 'http://a.app.qq.com/o/simple.jsp?pkgname=com.gdca.cloudsign',
                IOSDown: 'https://itunes.apple.com/cn/app/%E7%9C%9F%E5%AE%9C%E7%AD%BE/id1237561078?mt=8'
            };
            if(navigator.userAgent.match(/(iPhone|iPod|iPad);?/i))
            {
               $("#openApp").on('click',function(){
                   $("#tip").hide();
                    window.location.href = AppUrl.iosOpen;				//ios app协议
                
                    var timer = window.setTimeout(function() {
                        window.location.href = AppUrl.IOSDown;		//ios 下载地址
                    }, 2000);
                    
                    $(document).on('visibilitychange webkitvisibilitychange', function() {
                        var tag = document.hidden || document.webkitHidden;
                        if (tag) {
                            clearTimeout(timer);
                        }
                    });
                    $(window).on('pagehide', function() {
                        clearTimeout(timer);
                    });
               })
            }
            
            if(navigator.userAgent.match(/android/i))
            {
                $("#openApp").on('click',function(){
                    $("#tip").hide();
                    window.location.href = AppUrl.AndroidOpen	//android app协议

                    var timer = window.setTimeout(function() {
                        window.location.href = AppUrl.AndroidDown;	//android 下载地址
                    }, 2000);                    
                    $(document).on('visibilitychange webkitvisibilitychange', function() {
                        var tag = document.hidden || document.webkitHidden;
                        if (tag) {
                            clearTimeout(timer);
                        }
                    });
                    $(window).on('pagehide', function() {
                        clearTimeout(timer);
                    });
                })
            }
        })
    </script>
</body>
</html>